node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

logs
*.log
log.txt
debug.log
error.log

tmp/
temp/
*.tmp
*.temp

.DS_Store
Thumbs.db

.vscode/
.history/

sequelize-data.json
migrations/
seeders/

.pids
*.pid
*.seed

Desktop.ini

*.log
*.out
*.err
course_id_name_imageurl.csv
importCourse.js